div {
  display: flex;
  flex-direction: column;
  gap: 15px;

  h3 {
    margin: 0;
  }

  input {
    max-width: 250px;
  }
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  border-radius: 10px;
  border: 1px solid #000000;
  max-width: 60px;

  &.empty {
    li {
      background: #c0c0c0;
    }
  }

  &.short {
    li {
      background: red;
    }
  }

  &.ease {
    li {
      background: #c0c0c0;

      &:first-child {
        background: red;
      }
    }
  }

  &.medium {
    li {
      background: yellow;

      &:last-child {
        background: #c0c0c0;
      }
    }
  }

  &.strong {
    li {
      background: green;
    }
  }

  li {
    width: 20px;
    height: 20px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 1px;
      background: #000000;
    }

    &:first-child {
      border-radius: 10px 0 0 10px;
      &::after {
        display: none;
      }
    }

    &:last-child {
      border-radius: 0 10px 10px 0;
    }
  }
}
